@import '../../scss/variables.scss';
.nav-bar {
  .active {
    background: $tertiary;
    color: white !important;
  }
  .navbar-toggler {
    border: 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}
