@import '../../scss/variables.scss';
.about-me-section {
  .my-image {
    width: 100%;
    border-radius: 50%;
  }
  .social-links {
    opacity: 0.7;
  }
  @media screen and (max-width: 768px) {
    .my-image {
      width: 300px;
    }
  }
}
