@import '../../scss/variables.scss';
.who-am-i-section {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #5089c640);
  padding: 160px;
  @media screen and (max-width: 1200px) {
    padding: 160px 100px;
  }
  @media screen and (max-width: 992px) {
    padding: 160px 64px;
  }
  .my-image {
    width: 100%;
    border-radius: 50%;
  }
  .social-links {
    opacity: 0.7;
  }
  @media screen and (max-width: 768px) {
    .my-image {
      width: 300px;
    }
  }
}
